<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-black" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AllCiné</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Menu</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Materiele</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="#">Clé USB</a></li>
                            <li><a class="dropdown-item" href="#">Chargeur</a></li>
                            <li><a class="dropdown-item" href="#">Ecouteur</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Film</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="{{ path('user_film_new')}}">Nouveauté</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_film_top')}}">Plus vue</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_film_popular')}}">Populaire</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_film_genre')}}">Genre</a></li>
                        </ul>
                    </li>

                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Serie</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="{{ path('user_serie_new')}}">Nouveauté</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_serie_top')}}">Plus vue</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_serie_popular')}}">Populaire</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_serie_genre')}}">Genre</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('admin_index')}}">Vendeur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('admin_index')}}">Administrateur</a>
                    </li>

                </ul>
            </div>
        </div>

            </nav>
</header>

